<!DOCTYPE html>
<html>
<head>
    <title>Disease Types</title>
</head>
<body>
    <h1>Disease Types</h1>
    <a href="{{ url_for('routes.diseasetypes.add_diseasetype') }}">Add Disease Type</a>
    <table border="1" cellpadding="5" cellspacing="0" style="margin-top: 20px; width: 50%; text-align: left;>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for diseasetype in diseasetypes %}
            <tr>
                <td>{{ diseasetype.id }}</td>
                <td>{{ diseasetype.description }}</td>
                <td>
                    <form action="{{ url_for('routes.diseasetypes.delete_diseasetype', id=diseasetype.id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
