<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name" value="{{ user.name }}" required>
        <br>
        <label>Surname:</label>
        <input type="text" name="surname" value="{{ user.surname }}" required>
        <br>
        <label>Salary:</label>
        <input type="number" name="salary" value="{{ user.salary }}" required>
        <br>
        <label>Phone:</label>
        <input type="text" name="phone" value="{{ user.phone }}" required>
        <br>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
